<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i].post._id %>">
              <img class="img-fluid" src="<%= posts[i].post.image%>">
              <p><%= posts[i].post.brand%></p>
              <p><%= posts[i].post.model%></p>
              <p><%= posts[i].post.notes%></p>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile">Home</a>
          <a class="btn btn-primary" href="/feed">Feed</a>
        </div>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>